.menu-wrap{
  display: flex;
  flex-flow: row nowrap;
  position: fixed;
  bottom: 0;
  width: 100%;
  justify-content: space-around;
  border-top: 1px solid #f0f0f0;
  padding: 6px 0 0 0;
  position: absolute;
  .menu-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    &>:nth-child(1){
      font-size: 1.2rem;
    }
    &>:nth-child(2){
      font-size: 0.4rem;
      text-align-last: justify;
      margin-top: 2px;
    }
  }
}
